@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

[TEST VIEW COMPONENT]

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>Name: <input type="text"/></div>
    <input type="submit" />
</form>